<button type="button" class="btn btn-outline-secondary me-2" placement="end" [ngbPopover]="list"
        ngbPopover="What a great tip!" [autoClose]="false" triggers="manual" triggers="click"
        #p="ngbPopover" popoverClass="custom-popover"
        >
  Units List
</button>

<ng-template #list>
  <div class="units-list" (mousewheel)="onScroll($event)">
    <div *ngFor="let item of units" class="unit">
      <div class="unit-icon col-2">
        <img src="{{ item.iconUrl }}" alt="Unit Icon" class="unit-icon-img">
      </div>
      <div class="unit-details col-10">
        <div class="unit-name">{{ item.name }}</div>
        <div class="coords">
          <span>lat: {{ item.lat }}</span><br>
          <!-- <span class="text-bold"> , </span> -->
          <span>lng: {{ item.lng }}</span>
        </div>
        <div class="unit-id">ID: {{ item.id }}</div>
      </div>
    </div>
  </div>
</ng-template>
